.postcontents
  .postcontents__main
    .postcontents__main--dummy
    .postcontents__main--add-item
      = link_to "アイテムを追加する", new_post_path ,method: :get
    .postcontents__main--item-list
      "いつもの"一覧
    .postcontents__main--item
      - @post.each do |post|
        .postcontents__main--item-content
          = image_tag "/assets/item1.jpg", class: "postcontents__main--item-content-image"
          .postcontents__main--item-content-name
          = post.name
          .postcontents__main--item-content-capacity
          = post.capacity
          .postcontents__main--item-content-comment
          = post.comment
