.postcontents
  .postcontents__main
    .postcontents__main--dummy
    .postcontents__main--title
      アイテムを追加する
    .postcontents__main--post
      = form_for @post do |f|
        = f.text_field :name, class: "postcontents__main--post-field", placeholder: "アイテム名"
        = f.text_field :capacity, class: "postcontents__main--post-field", placeholder: "サイズ"
        = f.text_field :comment, class: "postcontents__main--post-field", placeholder: "詳細"
        = f.file_field :image, class: "postcontents__main--post-input", placeholder: "画像"
        = f.hidden_field :group_id, value: session[:group_id]
        = f.submit "追加", method: :post, class: "postcontents__main--post-submit"